.Socials {
    align-items: center; 
    display: flex;

    &__label {

    }

    &__list {
        display: flex;
        margin: 0 0 0 -0.8rem;
        padding: 0 0 0 0.8rem;
    }

    &__list-item {
        list-style: none;
        margin-left: 0.8rem;
    }
}