:root {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #100e17;
    --heading-color: #818cab;
}

@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

* {
    box-sizing: border-box;
}

a {
    color: #fff;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
}

.app {
    display: grid;
    font-size: 1.8rem;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    font-family: 'Damion', cursive;
    font-size: 2.4rem;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: none;
}

.input {
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    border: 0;
    padding: 0.7rem;
    text-align: center;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.page-content-wrap {
    display: flex;
    position: relative;
}

.page-sidebar {
    background: var(--bg-color);
    flex-shrink: 0;
    padding: 6rem 2.4rem;
    width: 32rem;
}

.page-content {
    align-items: center;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex-grow: 1;


    &__burger {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        width: 100%;
    }

    &__sections {
        border-top: 1px solid #ccc;
        display: flex;
        margin-top: auto;
        width: 100%;
    }
}

.section {
    display: flex;
    margin-left: -1.6rem;
    margin-top: 3.2rem;

    &:first-child {
        margin-top: 0;
    }

    &__column {
        margin-left: 1.6rem;
        width: calc(100% - 1.6rem);

        &_half {
            width: calc(50% - 1.6rem);
        }
    }

    &__field {
        margin-top: 1.2rem;
    }
}

.custom-select {
    color: #000;
    margin-top: 1.2rem;
    outline: none;
}

.btn {
    background: var(--bg-color);
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    text-align: center;
}

.material-picker {
    height: auto !important;
    margin-top: 1.2rem !important;
    text-align: center;
    width: 100% !important;

    input {
        font-size: 1.8rem !important;
    }
}
